@import url('https://fonts.googleapis.com/css?family=Roboto|Shojumaru|');

*{
  padding: 0;
  margin: 0;
  max-width: 499px;
  font-family: 'Roboto', helvetica, arial, sans-serif;
}

body {
  height: 100%;
}

.gridLeft, .gridRight {
  width: 0;
}

.gridCenter{
  width: 100%;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BC002D;
  padding-top: .5em;
  padding-bottom: .5em;
  height: 2.5%;
  color: #FFFFFF;
  width: 100%;
  box-shadow: .1em .05em .1em .05em rgba(0,0,0,0.75);
}

header .gridCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

 #nav .gridCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pageContent{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#title {
  padding-left: .4em;
  color: #FFFFFF;
  font-family: 'Shojumaru', cursive;
  font-size: 130%;
}

#menu-button-open {
  display: flex;
  padding-top: .4em;
  padding-right: .5em;
  padding-left: .5em;
  padding-bottom: .4em;
  margin-right: .2em;
  justify-content: space-between;
  align-items: center;
  border: 1.2px solid #FFF;
  border-radius: 5px;
}

#menu-button-close {
  display: none;
  padding-top: .4em;
  padding-right: .5em;
  padding-left: .5em;
  padding-bottom: .5em;
  margin-right: .2em;
  justify-content: space-between;
  align-items: center;
  border: 1.2px solid #000;
  border-radius: 5px;
  background-color: #FFF;
  color: #BC002D;
}

.buttonsOp {
  display: flex;
  flex-direction: column;
}

.button:first-child {
  margin-top: 0;
}

.buttonsCl {
  display: flex;
  flex-direction: column;
}

.buttonsCl #bar1 {
  margin-top: 0px;
  transform: rotate(-45deg) translate(-7.5px, 8.6px);
  transition: 1s;
}

.buttonsCl #bar2 {
  opacity: 0;
  transition: 1s;
}

.buttonsCl #bar3 {
  transform: rotate(45deg) translate(-7.8px, -8.6px);
  transition: 1s;
}

.menuTxt {
  padding-right: .4em;
}

.button {
  height: 4px;
  width: 30px;
  background-color: #FFF;
  margin-top: 8px;
}

.buttonClose {
  width: 30px;
  height: 4px;
  background-color: #BC002D;
  margin-top: 8px;
}

nav {
  display: none;
  justify-content: center;
  overflow: hidden;
  background-color: #BC002D;
}

.navBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .8em .5em .8em .5em;
}

nav a {
  display: flex;
  justify-content: center;
  font-size: 19px;
  text-decoration: none;
  width: 100%;
  padding-top: .4em;
  padding-bottom: .4em;
  margin-top: .5em;
  margin-bottom: .5em;
  background-color: #FFF;
  color: #BC002D;
  border-radius: .4em;
  }

nav a:hover {
  color: #BC002D;
  background-color: #FFFFFF;
  }

body{
  background-color: #FFFFFF;
}

.contentHead {
  margin-left: .2em;
  color: #009B4E;
  margin-top: .8em;
}

/*---------------------Homepage ---------------------*/

#homeSlideshow {
  width: 100%;
  height: 44em;
  background-color: grey;
}

/*----------------------Page 2 ----------------------*/
.map {
  display: flex;
  padding-left: .2em;
  padding-right: .2em;
}
#venueMap {
  width: 100%;
  height: 25em;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Japan_location_map.svg/1028px-Japan_location_map.svg.png');
  background-position: bottom 80% right 45%;
  background-repeat: no-repeat;
  background-size: 140%;
}

.venue {
  padding: .3em;
  background-color: grey;
  margin: .6em .4em 3em .4em;
  border-radius: 2em;
}

.venueImg {
  /*display: none;*/
  width: 100%;
  height: 15em;
  background-color: white;
  border-radius: 2em;
}

.venueName h2 {
  font-family: 'Shojumaru', cursive;
  color: white;
}

.venueFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .4em;
}

.venueTableRowHead {
  text-align: left;
  font-family: 'Shojumaru', cursive;
}

.venueTableCell {
  text-align: right;
font-family: 'Roboto', sans-serif;
}

.venueTable {
  /*display: none;*/
  background-color: inherit;
}

#venueFinal {
  background-color: #FDD73F;
}

#venueBronze {
  background-color: #C0C0C0;
}

#venueQF {
  background-color: #CD7F32;
}

#venuePool1 {
  background-color: #FD3FE3;
}

#venuePool2{
  background-color: #2EDCFE;
}

#yokoImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/11/NISSANSTADIUM20080608.JPG');
  background-size: cover;
}
#tokImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5c/Ajinomoto_Stadium_2018-13.jpg');
  background-size: cover;
}
#oitImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/af/%C5%8Cita_Stadium_with_its_roof_closed.jpg');
  background-size: cover;
}
#shizImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d7/Ecopa030304.jpg');
  background-size: cover;
}
#hanaImg {
  background-image: url('https://i.redd.it/o7p64fscq8e11.jpg');
  background-size: cover;
}
#fukokImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/86/Level5_Stadium_03.JPG');
  background-size: cover;
}
#toyImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/42/Nagoya_Grampus_game_in_Toyota_Stadium_100814.JPG');
  background-size: cover;
}
#sapImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f1/Sapporo_Dome_001.jpeg');
  background-size: cover;
}
#kumImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/86/Kumamoto_kkw.JPG');
  background-size: cover;
}
#kobImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/f7/Kobe_Wing_Stadium_20131222.JPG');
  background-size: cover;
}
#gayaImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/66/KumagayaStadium1.jpg');
  background-size: cover;
}
#kamaImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/63/%E9%87%9C%E7%9F%B3%E9%B5%9C%E4%BD%8F%E5%B1%85%E5%BE%A9%E8%88%88%E3%82%B9%E3%82%BF%E3%82%B8%E3%82%A2%E3%83%A0.jpg');
  background-size: cover;
}

/*----------------------Page 3 ----------------------*/

.flexPools {
  display: flex;
  flex-direction: column;
  border-radius: 2%;
}

.stage {
  margin: 0 .5em 1em .5em;
  border-radius: .6em;

}

.stageHead{
  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: .3em;
}

.stage h2 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.pool {
    /*display: none;*/
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 2em;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: 2em;
    margin-top: 2em;
    border-radius: 1em;
    background-color: #FFC6FF;
}

#repechage {
  background-color: #8CEBFF;
  display: none;
}

.pool h2 {
  font-family: 'Shojumaru', cursive;
  color: white;
  padding-bottom: .4em;
}

.pool table {
  /*display: none;*/
  width: 100%;
  border-collapse: collapse;
}

table thead {
  background-color: #BC002D;
  color: #FFFFFF;
}

table th {
  height: 2em;
  width: 10%;
  justify-content: space-evenly;
  text-align: center;
}

.thTeam {
  column-width: auto;
}

.pool td {
  width:auto;
  height: auto;
  text-align: right;
  padding-right: 0.5em;
}

.team {
  display: flex;
  align-items: center;
  border-right: .1em solid white;
  height: auto;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  font-weight: bold;
  font-style: normal;
}

.tdShort, .tdFull {
  font-family: 'Shojumaru', cursive;
}

.tableIcon {
    padding-left: .2em;
    padding-right: .2em;
}

.icon {
  width: 3.2em;
  height: 2em;
  border-radius: 100% 50%;
  background-position: center;
  background-size: cover;
  margin-left: .2em;
}

.poolHead {
  padding-top: .4em;
}

#jpIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/9/9e/Flag_of_Japan.svg');
}
#irIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/IRFU_flag.svg');
}
#ruIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/f/f3/Flag_of_Russia.svg');
}
#samIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/31/Flag_of_Samoa.svg');
}
#scoIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/10/Flag_of_Scotland.svg');
}
#canIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/d/d9/Flag_of_Canada_%28Pantone%29.svg');
}
#itIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/0/03/Flag_of_Italy.svg');
}
#namIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/00/Flag_of_Namibia.svg');
}
#nzIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3e/Flag_of_New_Zealand.svg');
}
#saIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/af/Flag_of_South_Africa.svg');
}
#argIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1a/Flag_of_Argentina.svg');
}
#enIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/b/be/Flag_of_England.svg');
}
#frIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/c/c3/Flag_of_France.svg');
}
#tgIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/9a/Flag_of_Tonga.svg');
}
#usIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/a/a4/Flag_of_the_United_States.svg');
}
#ausIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/8/88/Flag_of_Australia_%28converted%29.svg');
}
#fjIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/ba/Flag_of_Fiji.svg');
}
#geoIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/0f/Flag_of_Georgia.svg');
}
#uryIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/f/fe/Flag_of_Uruguay.svg');
}
#walIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/a9/Flag_of_Wales_%281959%E2%80%93present%29.svg');
}
#gerIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/b/ba/Flag_of_Germany.svg');
}
#hkIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/5b/Flag_of_Hong_Kong.svg');
}
#kenIcon {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/49/Flag_of_Kenya.svg');
}

.tableDarkGreen {
  background-color: #72D48C;
  color: #FFFFFF;
}

.tableDarkGreen:hover {
  background-color: #BCEBC9;
}

.tableLightGreen {
  background-color: #75C385;
  color: #FFFFFF;
}

.tableLightGreen:hover {
  background-color: #ADDCB7;
}

.tableClear {
  background-color: #F9F5F5;
}

.tableClear:hover {
  background-color: #FDFBFB;
}

.tableClear:nth-child(odd) {
  background-color: #F2F2F2;
}

.tableClear:nth-child(odd):hover {
  background-color: #F9F9F9;
}

.hideSmall {
  display: none;
}

.thFull {
  display: none;
}

.tdFull, .tdMed {
  display: none;
}

#qual {
  background-color: #2EDCFE;
}
#rwc {
  background-color: #FD3FE3;
  padding-bottom: .4em;
}
#knockout {
  background-color: #FDD73F;
}

#tableA, #tableB, #tableC, #tableD {
  display: none;

  transition;
}

/*---------------------Page 4 --------------------*/

.filterBox {
  margin: 2em .5em 2em .5em;
  display: flex;
  justify-content: center;
  padding-top: .2em;
  padding-bottom: .2em;
  background-color: #BC002D;
  border-radius: .6em;
}

.filterBy {
  display: block;
  width: 100%;
  background-color: white;
  margin: .6em .4em .6em .4em;
  border-top-left-radius: .6em;
  border-top-right-radius: .6em;
}

.filterButton {
  display: flex;
  color: #BC002D;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: grey solid .2px;
}

.filterBy:hover .filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.filters {
  display: none;
}

.filter {
  display: block;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: white;
  border-bottom: grey solid .2px;
}

.filter:hover {
  background-color: #BC002D;
  color: white;
}

.filter:last-child:hover {
  border-bottom-color: #BC002D;
}

.dateSelectorBox {
  margin-left: .5em;
  margin-right: .5em;
}

.dateSelector {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #BC002D;
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  border-radius: 1em;
}

#dateLeft {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-right:18px solid white;
  padding-left: .2em;
}

#dateRight {
  width: 0;
  height: 0;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid white;
  padding-right: .2em;
}

.matches {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: .5em;
  margin-right: .5em;
}

.dateDivider {
  background-color: #FD3FE3;
  padding-bottom: .1em;
  margin: 2em .5em 4em .5em;
  border-radius: 1em;
}

.dateHead {
  display: flex;
  height: 3em;
  padding-bottom: .4em;
  justify-content: center;
  align-items: center;
}

.date {
  text-align: center;
}

.dateContainer{
  background-color: #FFC6FF;
  padding-top: .6em;
  margin: 0 .6em .6em .6em;
  border-radius: 1em;
}

.matchContainer {
padding-bottom: 1em;
}

.match {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.team1, .team2{
  font-family: 'Shojumaru', cursive;
}

.team1 {
  padding-left: .4em;
}

.team2 {
  padding-right: .4em;
}

.matchIcon {
  padding-left: .2em;
  padding-right: .2em;
}

.teamLeftIcon, .teamRightIcon {
  width: 3.2em;
  height: 2em;
  border-radius: 100% 50%;
  background-position: center;
  background-size: cover;
  background-color: grey;
}

.timeResult {
  display: flex;
  height: 1.6em;
  padding-left: .5em;
  padding-right: .5em;
  margin-left: .22em;
  margin-right: .22em;
  background-color: #BC002D;
  color: #FFFFFF;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: .8em;
  padding-left: .2em;
  padding-right: .2em;
  font-weight: bold;
  font-size: 90%;
}

#Nov11, #Nov17, #Nov23 {
  background-color: #2EDCFE;
}
#Nov11 .dateContainer, #Nov17 .dateContainer, #Nov23 .dateContainer {
  background-color: #8CEBFF;
}

#Oct19, #Oct20 {
  background-color: #7800F0;
}

#Oct19 .dateContainer, #Oct20 .dateContainer {
  background-color: #C68CFF;
}

#Oct26, #Oct27 {
  background-color: #C0C0C0;
}

#Oct26 .dateContainer, #Oct27 .dateContainer {
  background-color: #EAEAEA;
}

#Nov01 {
  background-color: #CD7F32;
}

#Nov01 .dateContainer {
  background-color: #EACAAA;
}

#Nov02 {
  background-color: #FDD73F;
}

#Nov02 .dateContainer {
  background-color: #FEE994;
}


/*---------------------Footer--------------------*/
footer {
  display: flex;
  align-items: center;
  background-color: #BC002D;
  width: 100%;
  height: 8em;
  position: relative;
  box-shadow: .1em -.05em .1em .05em rgba(0,0,0,0.75);
  }

  .footerNav {
    margin-left: .5em;
  }

  .footerNav a {
    text-decoration: none;
    color: white;
  }

  .footerNav ul {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 500px) {

    * {
      max-width: 999px;
    }
    header {background-color: #BC002D;
    }

    body{
      background-color: #000000;
    }

    .thFull{
      display: inline;
    }

    .tdFull {
      display: block;
    }

    .latinName, .japName {
      font-family: 'Shojumaru', cursive;
    }

    /*.tdMed {
      display: inline;
      font-family: 'Shojumaru', cursive;
    }*/

    .thShort {
      display: none;
    }

    .tdShort {
      display: none;
    }
  }

  @media screen and (min-width: 1000px) {

    *{
      max-width: 100%;
    }

    header {
      display: flex;
      flex-wrap: nowrap;
      height: 6em;
      background-color: #BC002D;
      margin-bottom: 0;
    }

    .gridCenter {
      width: 100%;
    }

   .gridLeft, .gridRight {
     width: 0;
   }


    #pageContent {
      display: flex;
      flex-direction: row;
    }

  #menu-button-open {
    display: none;
  }

  #menu-button-close {
    display: none;
  }

    body {
      background-color: #EEEEEE;
  }

  nav {
    margin: 0;
    display: flex;
    width: 100%;
  }

  .navBox {
    display: flex;
    flex-direction: row;
  }

  nav a {
    display: inline-flex;
    flex-direction: row;
    width: auto;
    margin: 0;
  }

  .thFull{
    display: inline;
  }

  .tdFull {
    display: block;
  }

  .thShort {
    display: none;
  }

  .tdMed, .tdShort {
    display: none;
  }

  .hideSmall {
    display: table-column-group;
  }

  footer {
    display: flex;
  }
}

@media screen and (min-width: 1320px) {
  .gridCenter {
    flex: 9;
  }

 .gridLeft, .gridRight {
   flex: .5;
  }

 @media screen and (min-width: 1620px) {
  .gridCenter {
    max-width: 1442px;
    }

  .gridLeft {
     width: auto;
    }
   .gridRight {
      width: auto;
    }
}
