*{
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  background-color: #3737D0;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .4em;
  height: 2.5em;
  color: #FFFFFF;
}

#title {
  padding-left: .4em;
  color: #FFFFFF;
  font-family: cursive;
}

#menu-button {
  display: flex;
  padding-right: .5em;
  padding-left: .5em;
  justify-content: space-evenly;
  align-content: center;
  border: 3px solid #FFFFFF;
  border-radius: 5px;
}

#menu-button:hover {
  background-color: #FFFFFF;
  color: #3737D0;
  border-color: #2238A8;
}

#buttons {
  display: flex;
  flex-direction: column;
  margin-left: 6px;
}

#menutxt {
  font-family: sans-serif;
  margin-top: 10px;
}

.button{
  width: 30px;
  height: 4px;
  background-color: #FFFFFF;
  margin-top: 6px;
}

nav {
  display: flex;
  justify-content: center;
  background: #2238A8;
    }

  nav a {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-family: cursive;
  text-decoration: none;
  width: 24em;
  padding: 1em 1em;
  margin: 0.5em 0.5em;
  background: #3737D0;
  color: #FFFFFF;
  transition: all 1.5s;
  }

  nav a:hover {
  color: #FFFFFF;
  background-color: #BC002D;
  }



body{
  background-color: #FFFFFF;
}

footer {
  background-color: #BC002D;
  margin-top: 2%;
  }

  @media screen and (min-width: 500px) {
    header {background-color: #EEFFEE;
    }

    body{
      background-color: #000000;
    }
  }

  @media screen and (min-width: 1000px) {
    body {
      background-color: #EEEEEE;
  }
}
